.sidebar{
    width: 250px;
    height: 100vh;
    background-color: rgb(17, 17, 44);
    color: white;
    position: fixed;
    top: 0;
    left: 0;

}

.sidebar-header{
    display: flex;
    align-items: center;
    background-color: rgb(33,33,65);
    justify-content: center;
    padding: 10px;
}

.toggle-btn{
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
}

.toggle-btn.arrow{
    width: 0;
    height: 0;
    border-style: solid;
}

.toggle-btn.left{
    border-width: 8px 10px 8px 0;
    border-color: transparent white transparent transparent;
}

.toggle-btn.right{
    
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent white ;
}